{% extends 'case001_base.html' %}
 
{% block title %}本项目简介{% endblock %}
 
{% block content %}

    <h3>产后缺乳证</h3>
    <p>本例临床流调针对产后缺乳症进行，包含孕产妇的一般情況、孕产情況，以及一份哺乳问卷调查。<br />根据相关数据得到如下证候评定标准所定义的证候。</p>
    <p>按《中医妇科学》统编教材对产后缺乳进行临床辨证，</p>
    <p>(1)符合虚证者，主症：产后乳汁少或全无；乳汁清稀，或乳房柔软无胀
        感；舌淡，少苔，脉虚细者；</p>
    <p>(2)符合实证者，主症：产后乳汁少或全无；乳汁浓稠，或乳房胀硬或疼
痛，色白或微黄；舌质正常或暗红，苔薄黄，脉细沉者；</p>
    <p>(3)符合虚实夹杂者，主症：产后乳汁少或全无；乳汁清稀，且乳房胀硬
或疼痛，色白或微黄；或乳汁浓稠，且乳房柔软无胀感；</p>
    <p>(4)符合气血虚弱者，主症：产后乳汁少或全无，乳汁清稀，乳房柔软无
胀感；次症：伴面色苍白、无光泽，疲乏无力，食欲不振，心悸，头晕；舌淡，
少苔，脉虚细者；</p>
    <p>(5)符合肝郁气滞者，主症：产后乳汁少或全无，乳汁浓稠，乳房胀硬或
疼痛，色白或微黄；次症：伴情志抑郁，舌质正常或暗红，苔薄黄，脉弦者；</p>
    <p>(6)符合痰气壅阻者，主症：产后乳汁少或全无，乳房丰满，柔软无胀感；</p>

{% endblock %}