{% extends 'accounts_base.html' %}

{% block title %}中医妇产科临床流调系统{% endblock %}

{% block content %}
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            });
            $("#chgpwdform").submit(function () {
                var email = $("#loginEmail").val();
                var op = $("#oldPassword").val();
                var np = $("#newPassword").val();
                var npa = $("#newPasswordAgain").val();
                var changePasswordAlert = '';
                $("#changePasswordAlert").hide();

                if (!op) {
                    changePasswordAlert += '**  旧密码不能为空！<br />';
                }
                if (!np) {
                    changePasswordAlert += '**  新密码不能为空！<br />';
                }
                if (!npa) {
                    changePasswordAlert += '**  确认密码不能为空！<br />';
                }
                if (np != npa) {
                    changePasswordAlert += '**  新密码不一致！<br />';
                }
                if (op == npa) {
                    changePasswordAlert += '**  新旧密码不能一样！<br />';
                }

                if (changePasswordAlert !='') {
                    $('#changePasswordAlert').html(changePasswordAlert);
                    $('#changePasswordAlert').show();

                } else {
                    $.ajax({
                        url: "/accounts/changePassword",
                        type: "POST",
                        data: {
                            loginEmail: email,
                            oldPassword: op,
                            newPassword: npa,
                        },

                        success: function (rdata) {
                            rdata = JSON.parse(rdata);
                            if (rdata["result"] == 1) {
                                //alert('修改成功！');
                                //window.location.href = '/homepage/home';
                                changePasswordAlert = '**  密码修改成功!<br />';
                                changePasswordAlert += '**  请您重新<a href=\'/\'>登录<br />';
                                $('#changePasswordAlert').html(changePasswordAlert);
                                $('#changePasswordAlert').show();

                            } else if (rdata["result"] == -1) {
                                alert('旧密码错误！');

                            } else if (rdata["result"] == -2) {
                                alert('没有相关权限！');
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert(errorThrown);
                        }
                    });
                    return false;
                }
                return false;
            });
        });
    </script>

    <h3>修改密码</h3>
    <form id='chgpwdform' role="form" method='post' enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <input id="loginEmail" type="hidden" value="{{ user.email }}">
            <label for="oldPassword" class="col-sm-2 control-label">旧密码</label>
            <div class="col-sm-10">
                <input type="password" id="oldPassword" class="form-control" placeholder="旧密码">
            </div>

            <label for="newPassword" class="col-sm-2 control-label">新密码</label>
            <div class="col-sm-10">
                <input type="password" id="newPassword" class="form-control" placeholder="新密码">
            </div>

            <label for="newPasswordAgain" class="col-sm-2 control-label">确认新密码</label>
            <div class="col-sm-10">
                <input type="password" id="newPasswordAgain" class="form-control" placeholder="确认新密码">
            </div>


            <button type="submit" id="chgpwd" class="btn btn-default">提交</button>
        </div>

    </form>
    <div id="changePasswordAlert" class="alert alert-danger" role="alert"
                 style="width: 30%; margin-bottom: 6px; display: none;"></div>

{% endblock %}