
    <div class="navbar navbar-default" role="navigation" style="background-color:#336699;">
        <div class="navbar-header">
          <a class="navbar-brand" href="/homepage/home" style="color:#FFFFFF">中医妇产科临床流调数据中心</a>
       </div>
        {% if user.is_authenticated %}
        <div>
          <p class="navbar-text navbar-right" style="color:#FFFFFF">欢迎您! {{ user.user_name }},
             <a href="/accounts/logout" class="navbar-link">注销</a>
          </p>
       </div>
        {% endif %}
    </div>