{% extends 'case002_base.html' %}
 
{% block title %}Success{% endblock %}
 
{% block content %}
<div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert"
      aria-hidden="true">
      &times;
   </button>
    数据导入成功！
</div>
    <h5>对应的基本信息数据表的记录的主键值是 <span class="label label-default">{{ people_id }}</span>，您可以继续添加该记录的其它信息</h5>
    <a class="btn btn-success"  href="{% url 'case002:datainput1' people_id %}" >月经情况</a>
    <a class="btn btn-primary"  href="{% url 'case002:datainput2' people_id %}" >全身症状</a>
    <a class="btn btn-info"  href="{% url 'case002:datainput3' people_id %}" >其它情况</a>
    <a class="btn btn-warning"  href="{% url 'case002:datainput4' people_id %}" >临床诊断</a>

{% endblock %}