{% extends 'case002_base.html' %}
 
{% block title %}数据详情{% endblock %}



{% block content %}
    <style type="text/css">
        #myinfodiv {background-color: #dedef8;box-shadow:
             inset 1px -1px 1px #444, inset -1px 1px 1px #444;}
    </style>

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#base" role="tab" data-toggle="tab">一般情况</a></li>
        <li role="presentation"><a href="#mt" role="tab" data-toggle="tab">月经情况</a></li>
        <li role="presentation"><a href="#smp" role="tab" data-toggle="tab">全身症状</a></li>
        <li role="presentation"><a href="#ot" role="tab" data-toggle="tab">其它情况</a></li>
        <li role="presentation"><a href="#cc" role="tab" data-toggle="tab">临床诊断</a></li>
    </ul>

    <!-- 面板区 -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="base">
            <table>
            {% for key,value in baseinfo.items %}
                <tr border-top-width="thin">
                    <td>{{ key }}: </td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="mt">
            <table>
                {% for key,value in mtinfo.items %}
                    <tr border-top-width="thin">
                        <td>{{ key }}: </td>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
                </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="smp">
            <table>
                {% for key,value in smpinfo.items %}
                    <tr border-top-width="thin">
                        <td>{{ key }}: </td>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
                </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="ot">
            <table>
                {% for key,value in otinfo.items %}
                    <tr border-top-width="thin">
                        <td>{{ key }}: </td>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
                </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="cc">
            <table>
                {% for key,value in ccinfo.items %}
                    <tr border-top-width="thin">
                        <td>{{ key }}: </td>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
                </table>
        </div>
    </div>
{% endblock %}